body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.bannerimg {
    height:250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%; 
    padding: auto;
}

.banner-text {
    font-size: 33px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    position : absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkolivegreen;
    padding: 15px;
    border: 2px solid white;
    border-radius: 50px;
}

.outer-box {
    background-color: white;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px ;
}

.inner-box {
    background: whitesmoke;
    border-radius: 2px;
    box-shadow: 0 3px 10px #9CAF88;
    width: 95%;
    min-height: 98vh; 
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


#playlist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin: 40px auto;
    max-width: 1000px;
    padding: 20px;
    padding-top:40px;
    justify-content: center;
    align-items: center;
    
}

.playlist-card {
    background: lightgrey;
    border-radius: 12px;
    min-height: 30vh;
    min-width: 25vh;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 0 1px 3px darkolivegreen;
    padding: 20px;
    margin: 20px;
    
}
